 <div ng-controller="HomeController">
        <!--slide 轮播-->
     <div class="container">
         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
             <!-- Indicators -->
             <ol class="carousel-indicators">
                 <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                 <li data-target="#carousel-example-generic" data-slide-to="1"></li>
             </ol>
             <!-- Wrapper for slides -->
             <div class="carousel-inner" role="listbox">
                 <div class="item active">
                     <img src="{{slides[0].img}}">
                 </div>
                 <div class="item">
                     <img src="{{slides[1].img}}">
                 </div>
             </div>
             <!-- Controls -->
             <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
             </a>
             <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
             </a>
         </div>
     </div>
     <!--hot-->
     <div style="background: #f7fafa; border-bottom: 1px solid #cccccc;">
         <div class="container" style="padding-top: 45px; ">
            <div>
                <!--left-->
                <div class="col-lg-10" style="padding-right: 60px;  margin-bottom: 55px;">
                    <div>
                        <h4 style="line-height: 70px; margin: 0px;" class="pull-left">热门项目</h4>
                        <a class="pull-right">查看更多</a>
                    </div>
                    <div class="col-lg-12" style="padding: 0px;">
                        <div class="col-lg-5">
                            <img src="{{hot[1].img}}" alt="" style="width: 320px; height: 242px; float: left">
                        </div>

                        <div class="col-lg-7">
                            <h4>{{hot[1].name}}</h4>
                            <p>{{hot[1].fname}}</p>
                            <p>{{hot[1].desc}}</p>
                            <p style="color:#666;">
                                <i class="glyphicon glyphicon-tags"></i><span>&nbsp;话剧</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <i class="glyphicon glyphicon-blackboard"></i><span>影视推荐</span>
                            </p>
                            <div class="progress" style="margin-top: 20px; height: 8px;">
                                <span class="progress-bar  progress-bar-warning" role="progressbar" ng-style="{width:(hot[1].rprice/hot[1].placement)*100+'%'}"><!--{{(hot[1].rprice/hot[1].placement)*100+"%"}}--></span>
                            </div>
                            <table>
                                <tr style="font-weight: bold;"><td>{{hot[1].sp+"%"}}</td><td>{{"￥"+hot[0].placement}}</td><td>{{hot[0].rnum}}</td><td>{{hot[0].rday}}</td></tr>
                                <tr><td>进度</td><td>支持金额</td><td>支持者</td><td>剩余天数</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--right-->
                <div class="col-lg-2" style="padding-top: 3px; border-left:1px solid #cccccc;">
                    <p>微电影</p>
                    <p>电影</p>
                    <p>电视剧</p>
                    <p>传统戏曲</p>
                    <p style="border-left: 4px solid red; color: red;">话剧</p>
                    <p>书画</p>
                    <p>相声</p>
                    <p>戏剧</p>
                    <p>音乐剧</p>
                    <p>纪录片</p>
                </div>
            </div>
         </div>
     </div>

     <!--new-->
     <div style=" border-bottom: 1px solid #cccccc;">
         <div class="container" style="padding-top:25px; padding-bottom: 45px;">
             <div>
                 <!--left-->
                 <div class="col-lg-12" style="padding: 0px;">
                     <h4 style="line-height: 70px; margin: 0px;" class="pull-left">卫视主推</h4>
                     <a class="pull-right"  ui-sref="listpage">查看更多</a>
                 </div>
                 <div style="margin-right: -15px; margin-left: -15px;">
                     <div class="col-lg-4">
                         <div style="padding: 0px; ">
                             <div class="hot-img">
                                 <img src="{{new[0].img}}" alt="">
                             </div>
                             <div style="border: 1px solid #ccc; padding: 14px 20px 20px 20px;">
                                 <h5>{{new[0].name}}</h5>
                                 <p>{{new[0].fname}}</p>
                                 <p class="comment_inner">{{new[0].desc}}</p>
                                 <p style="color:#666;">
                                     <i class="glyphicon glyphicon-tags"></i><span>&nbsp;话剧</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <i class="glyphicon glyphicon-blackboard"></i><span>影视推荐</span>
                                 </p>
                                 <div class="progress" style="margin-top: 20px; height: 8px;">
                                     <span class="progress-bar  progress-bar-warning" role="progressbar" ng-style="{width:(new[0].rprice/new[0].placement)*100+'%'}"><!--{{(hot[1].rprice/hot[1].placement)*100+"%"}}--></span>
                                 </div>
                                 <table>
                                     <tr style="font-weight: bold;"><td>{{new[0].sp+"%"}}</td><td>{{"￥"+new[0].placement}}</td><td>{{new[0].rday}}</td></tr>
                                     <tr><td>进度</td><td>支持金额</td><td>剩余天数</td></tr>
                                 </table>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-4" >
                         <div style="padding: 0px;">
                             <div class="hot-img">
                                 <img src="{{new[1].img}}" alt="">
                             </div>
                             <div style="border: 1px solid #ccc; padding: 14px 20px 20px 20px;">
                                 <h5>{{new[1].name}}</h5>
                                 <p>{{new[1].fname}}</p>
                                 <p class="comment_inner">{{new[1].desc}}</p>
                                 <p style="color:#666;">
                                     <i class="glyphicon glyphicon-tags"></i><span>&nbsp;话剧</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <i class="glyphicon glyphicon-blackboard"></i><span>影视推荐</span>
                                 </p>
                                 <div class="progress" style="margin-top: 20px; height: 8px;">
                                     <span class="progress-bar  progress-bar-warning" role="progressbar" ng-style="{width:(new[1].rprice/new[1].placement)*100+'%'}"><!--{{(hot[1].rprice/hot[1].placement)*100+"%"}}--></span>
                                 </div>
                                 <table>
                                     <tr style="font-weight: bold;"><td>{{new[1].sp+"%"}}</td><td>{{"￥"+new[1].placement}}</td><td>{{new[1].rday}}</td></tr>
                                     <tr><td>进度</td><td>支持金额</td><td>剩余天数</td></tr>
                                 </table>
                             </div>
                         </div>
                     </div>
                     <div class="col-lg-4" >
                         <div style="padding: 0px;">
                             <div class="hot-img">
                                 <img src="{{new[2].img}}" alt="">
                             </div>
                             <div style="border: 1px solid #ccc; padding: 14px 20px 20px 20px;">
                                 <h5>{{new[2].name}}</h5>
                                 <p>{{new[2].fname}}</p>
                                 <p class="comment_inner">{{new[2].desc}}</p>
                                 <p style="color:#666;">
                                     <i class="glyphicon glyphicon-tags"></i><span>&nbsp;话剧</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     <i class="glyphicon glyphicon-blackboard"></i><span>影视推荐</span>
                                 </p>
                                 <div class="progress" style="margin-top: 20px; height: 8px;">
                                     <span class="progress-bar  progress-bar-warning" role="progressbar" ng-style="{width:(new[2].rprice/new[2].placement)*100+'%'}"><!--{{(hot[1].rprice/hot[1].placement)*100+"%"}}--></span>
                                 </div>
                                 <table>
                                     <tr style="font-weight: bold;"><td>{{new[2].sp+"%"}}</td><td>{{"￥"+new[2].placement}}</td><td>{{new[2].rday}}</td></tr>
                                     <tr><td>进度</td><td>支持金额</td><td>剩余天数</td></tr>
                                 </table>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>



     <!--unit-->
     <div style="padding-bottom: 60px;">
         <div class="container" >
             <div class="unit" style="padding:30px 0px;  margin-right: -15px;">
                 <div class="col-lg-12" style="padding: 0px;">
                     <h4 style="line-height: 70px; margin: 0px;" class="pull-left">合作单位</h4>
                 </div>
                 <div class="col-lg-12 img-margin"> <!--ng-repeat="ui in unit"-->
                     <!-- <li><img src="{{ui.img}}" alt=""></li>-->
                     <img src="{{unit[0].img}}" alt="">
                     <img src="{{unit[1].img}}" alt="">
                     <img src="{{unit[2].img}}" alt="">
                     <img src="{{unit[3].img}}" alt="">
                     <img src="{{unit[4].img}}" alt="">
                 </div>
             </div>
         </div>
     </div>
 </div>

